<div class="row">
  <div class="span9" id="sfg_show_post_note">
    <b>Note:</b> For every post that is shared by a user, you would be donating 30 cents to your charity/cause
  </div>
</div>
<div class="row">
  <aside class="span7offset5">
    <section>
      <%=render :partial => 'posts/post_form', :locals => {:business_company => @business_company}%>
      <%#= redirect_to new_post_path(@business_company) %>
    </section>
  </aside>
</div>

<div class="span7offset5">
  <% if @business_company.posts.any? %>
      <div class="well the-fieldset">
        <div id="heading_recent_post">
          <legend class="the-legend"> RECENT POSTS (<%= @business_company.posts.count %>)</legend>
        </div>
        <div class="pagination">
          <ol class="posts">
            <% @posts.each do |post|  %>
                <li>
                  <% if (post.content =~ URI::DEFAULT_PARSER.regexp[:ABS_URI]).nil?  %>
                      <span class="content"><%= post.content %></span>
                  <% else %>
                      <span class="content"><%=link_to post.content, post.content, :target => '_blank'%></span>
                  <% end %>
                  <span class="timestamp">
                    Posted <%= time_ago_in_words(post.created_at) %> ago.
                </span>
                </li>
            <% end %>
            <%#= render :partial => "posts/post", :locals => {:posts => @posts} %>
          </ol>
          <%= will_paginate @posts %>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $("#new_post").validate({
        rules: {
            "post[content]":{
                required: true,
                maxlength: 140
            }
        }
    });
</script>

