<%#= javascript_include_tag "jquery.validate"%>

<legend>Business User</legend>

<div class="row">
  <div class="span5">
    <h4 class="general_details">Update your profile</h4>
    <%= form_for @business_user, :method => :put, :html => { :class => 'form-horizontal sfg_business_user_sign_up' } do |f| %>

        <%= render 'error_messages', object: f.object %>

        <div class="control-group" id="customText">
          <%= f.label :name, "Name", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, :placeholder => "First Name", :class => 'text_field custom-text' %>

            <%= f.text_field :last_name, :placeholder => "Last Name", :class => 'text_field custom-text' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, "Email ID", :class => 'control-label'  %>
          <div class="controls">
            <%= f.text_field :email , :class => 'text_field required email' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, "Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text_field', :id => 'business_user_password' %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label :password_confirmation, "Confirm Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password_confirmation , :class => 'text_field', :id => 'pass_confirm' %>
          </div>
        </div>

        <%= f.fields_for :business_company do |builder|%>

            <div class="control-group">
              <%= builder.label :business_website, "Company Website", :class => 'control-label' %>
              <div class="controls">
                <%= builder.url_field :business_website , :class => 'url_field' , :value => 'http://'%>
              </div>
            </div>

            <div class="control-group">
              <%= builder.label :address, "Address", :class => 'control-label' %>
              <div class="controls">
                <%= builder.text_field :address, :placeholder => "Address", :class => 'text_field' %>
                <br />
                <br />
                <%= builder.text_field :city, :placeholder => "City", :class => 'text_field' %>
                <br />
                <br />
                <%= builder.text_field :country, :placeholder => "Country", :class => 'text_field' %>
              </div>
            </div>

            <div class="control-group">
              <%= builder.label :business_logo, "Logo", :class => 'control-label' %>
              <div class="controls">
                <%= builder.file_field :business_logo, :class => 'file_field' %>
              </div>
            </div>

            <div class="control-group">
              <%= builder.label :description, "About the company", :class => 'control-label' %>
              <div class="controls">
                <%= builder.text_area :description, :size => "25x5"%>
              </div>
            </div>
        <% end %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary", :id => 'sfg_edit_btn'%>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        //validation

        $("#sfg_business_user_sign_up").validate({
            rules: {
                "business_user[first_name]": {
                    required: true
                },
                "business_user[email]": {
                    required: true,
                    email: true
                },
                "business_user[password]":{
                    required:true,
                    minlength: 6
                },
                "business_user[password_confirmation]": {
                    equalTo: "#business_user_password"
                },
                "business_company[description]": {
                    minlength: 10
                },
                "business_company[business_website]": {
                    required: true
                }
            }
        });
    });

</script>
