<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="span5 offset2">
    <h3> Please Enter your business details</h3>

    <%= form_for @business_company,:url => save_business_detail_business_user_path, :method => "post", :html => { :class => 'form-horizontal' } do |f| %>
        <%#= render 'error_messages', object: f.object %>

        <div class="control-group">
          <%= f.label :business_name, "Business Name", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :business_name , :class => 'text_field'%>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :address, "Address", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :address, :class => 'text_field' %>
          </div>

          <!--<br />-->
          <!--<div class="controls">-->
            <!--<%#= f.text_field :address_line2 , :class => 'text_field' %>-->
          <!--</div>-->
          <!--<br />-->
          <!--<div class="controls">-->
            <!--<%#= f.text_field :city, :class => 'text_field' %>-->
          <!--</div>-->
          <!--<br />-->
          <!--<div class="controls">-->
            <!--<%#= f.text_field :country, :class => 'text_field' %>-->
          <!--</div>-->
        </div>

        <!--<div class="control-group">-->
          <!--<%#= f.label :logo, "Upload Logo", :class => 'control-label' %>-->
          <!--<div class="controls">-->
            <!--<%#= f.file_field :logo , :class => 'file_field' %>-->
          <!--</div>-->
        <!--</div>-->

        <div class="control-group">
          <%= f.label :description, "Brief about the company", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :size => "40x10" %>
          </div>
        </div>

        <%= f.submit "Next", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>