<script type="text/javascript" src id="/app/assets/javascripts/jquery.js"></script>

<% provide(:title, 'Sign up') %>

<legend><h5>Business User</h5></legend>

<div class="row">
  <div class="span5">
    <h4 class="general_details">General Details</h4>

    <%= form_for @business_user, :method => "post", :html => { :class => 'form-horizontal sfg_business_user_sign_up' } do |f| %>

        <%= render 'error_messages', object: f.object %>

        <div class="control-group" id="customText">
          <%= f.label :name, "Name", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, :placeholder => "First Name", :class => 'text_field custom-text' %>

            <%= f.text_field :last_name, :placeholder => "Last Name", :class => 'text_field custom-text' %>
          </div>
        </div>

        <!--<div class="control-group">-->
        <!--<%#= f.label :designation, "Designation", :class => 'control-label'  %>-->
        <!--<div class="controls">-->
        <!--<%#= f.text_field :designation, :class => 'text_field required email' %>-->
        <!--</div>-->
        <!--</div>-->

        <div class="control-group">
          <%= f.label :email, "Email ID", :class => 'control-label'  %>
          <div class="controls">
            <%= f.text_field :email , :class => 'text_field required email' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, "Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text_field' %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label :password_confirmation, "Confirm Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password_confirmation , :class => 'text_field', :id => 'pass_confirm' %>
          </div>
        </div>

        <%= f.fields_for :business_company do |builder| %>
            <%= render "get_business_detail", :f => builder %>
        <% end %>

    <% end %>
  </div>

  <div class="span6 offset1" id="sfg_select_cause_part">
    <div class="row">
      <h6 id="sfg_select_cause_header">Select a cause</h6>
   <%#= collection_select @causes %>
<%#= select ("Cause", "id", Cause.all.collect { |c| [ c.cause_name, c.id ] }, {:prompt => "Select cause"}) %>
      <!--<select class="sfg_select_cause" id="sf_cause_drop_down">-->
        <!--<option selected="selected">Please Select Cause</option>-->
        <!--<%# @causes.each do |record| %>-->
            <!--<%# @cause_name = record.cause_name %>-->
            <!--<%# @cause_id = record.id %>-->
            <!--<option value="" ><%#= @cause_name %></option>-->
        <!--<%# end %>-->
      <!--</select>-->

      <button class="btn" id="sfg_view_cause_btn">View Details</button>

    </div>

    <div class="row">
      <div class="" id="sfg_about_cause_b_sign_up">
        <legend>ABOUT THE CAUSE</legend>
        <div id="sfg_cause_details">

        </div>
            <!--<ul>-->
                <!--<li>Name of the cause</li>-->
                <!--<li>Brief of the cause</li>-->
                <!--<li>Website of the cause</li>-->
            <!--</ul>-->
      </div>


    </div>
  </div>
</div>

<script type="text/javascript" src="assets/jquery.js">
//$(document).ready(function() {
//    $("#sfg_about_cause_b_sign_up").hide();
//    $("#sfg_view_cause_btn").click(function(){
//    $("#sfg_about_cause_b_sign_up").show();
//    });
//
//});

jQuery(document).ready(function(){

   $("#sfg_view_cause_btn").click(function(){
        var cause_id = $(".sfg_select_cause").val();
        $.ajax({
            type: "get" ,
           url: "../business_users/display_cause_business_sign_up"   ,
           data: { id :cause_id}
        }).done(function(response){
                 $('#sfg_cause_details').html(response);
                });
    });

});
</script>

<!--<h4 id="sfg_select_cause_header">Select a cause</h4>-->

<!--<select class="sfg_select_cause">-->
<!--<option selected="selected">---Please Select Cause---</option>-->
<!--<%# @causes.each do |record| %>-->
<!--<%# @cause_name = record.cause_name %>-->
<!--<option value="#{@cause_name}" ><%#= @cause_name %></option>-->
<!--<%# end %>-->
<!--</select>-->

<!--<button class="btn">View Details</button>-->


<!--<div class="control-group">-->
<!--<div class="controls">-->
<!--<%#= f.submit 'Sign Up', :class => "btn btn-large btn-primary" %>-->
<!--<button type="submit" class="btn btn-large btn-primary">Sign Up</button>-->
<!--</div>-->
<!--</div>-->





<!--<div class ="span4">-->
<!--<h2>General Details</h2>-->
<!--<div class="span5 offset3">-->
<!--<h2 id="b_user_sign_up_nm"> Business User Sign up</h2>-->

<!--<%#= form_for @business_user, :method => "post", :html => { :class => 'form-horizontal sfg_business_user_sign_up' } do |f| %>-->

<!--<%#= render 'error_messages', object: f.object %>-->

<!--<div class="control-group" id="customText">-->
<!--<%#= f.label :name, "Name", :class => 'control-label' %>-->
<!--<div class="controls">-->
<!--<%#= f.text_field :first_name, :placeholder => "First Name", :class => 'text_field custom-text' %>-->

<!--<%#= f.text_field :last_name, :placeholder => "Last Name", :class => 'text_field custom-text' %>-->
<!--</div>-->
<!--</div>-->
<!--<div class="control-group">-->
<!--<%#= f.label :email, "Email ID", :class => 'control-label'  %>-->
<!--<div class="controls">-->
<!--<%#= f.text_field :email , :class => 'text_field required email' %>-->
<!--</div>-->
<!--</div>-->

<!--<div class="control-group">-->
<!--<%#= f.label :password, "Password", :class => 'control-label'  %>-->
<!--<div class="controls">-->
<!--<%#= f.password_field :password, :class => 'text_field' %>-->
<!--</div>-->
<!--</div>-->


<!--<div class="control-group">-->
<!--<%#= f.label :password_confirmation, "Confirm Password", :class => 'control-label'  %>-->
<!--<div class="controls">-->
<!--<%#= f.password_field :password_confirmation , :class => 'text_field', :id => 'pass_confirm' %>-->
<!--</div>-->
<!--</div>-->

<!--<div class="control-group">-->
<!--<div class="controls">-->

<!--<%#= f.submit 'Sign Up', :class => "btn btn-large btn-primary" %>-->
<!--</div>-->
<!--</div>-->

<!--<%# end %>-->
<!--</div>-->

