<%= javascript_include_tag "jquery.validate"%>

<% provide(:title, 'Sign up') %>

<legend><h5>Business User</h5></legend>

<%= form_for @business_user, :method => "post", :html => { :class => 'form-horizontal', :id => 'sfg_business_user_sign_up' } do |f| %>
    <div class="row">
      <div class="span5">
        <h4 class="general_details">General Details</h4>


        <%= render 'error_messages', object: f.object %>

        <div class="control-group" id="customText">
          <%= f.label :name, "Name", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, :placeholder => "First Name", :class => 'text_field custom-text' %>

            <%= f.text_field :last_name, :placeholder => "Last Name", :class => 'text_field custom-text' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, "Email ID", :class => 'control-label'  %>
          <div class="controls">
            <%= f.text_field :email , :class => 'text_field required email' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, "Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text_field' %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label :password_confirmation, "Confirm Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password_confirmation , :class => 'text_field', :id => 'pass_confirm' %>
          </div>
        </div>

        <%= f.fields_for :business_company do |builder| %>
            <%= render "get_business_detail", :f => builder %>
        <% end %>

      </div>

      <div class="span6 offset1" id="sfg_select_cause_part">
        <div class="row">
          <h5 id="sfg_select_cause_header">Select a cause</h5>
          <%= select_tag "cause", options_from_collection_for_select(@causes, "id", "cause_name"), :prompt => "Select cause", :id => "sfg_cause_drop_down" %>
          <button type="button" class="btn" id="sfg_view_cause_btn">View Details</button>

        </div>

        <div id="sfg_see_cause">
          <div class="" id="sfg_about_cause_b_sign_up">
          </div>
        </div>
      </div>

    </div>
    </div>
    <div class="row">
      <div class="span1 offset9">
        <div class="control-group">
          <div class="controls">

            <%= f.submit 'Sign Up', :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {

        //validation

        $("#sfg_business_user_sign_up").validate({
            rules: {
                "business_user[first_name]": {
                    required: true
                },
                "business_user[email]": {
                    required: true,
                    email: true
                },
                "business_user[password]":{
                    required:true,
                    minlength: 6
                },
                "business_user[password_confirmation]": {
                    equalTo: "#business_user_password"
                },
                "business_user[business_company_attributes][business_name]":{
                    required: true
                },
                "business_user[business_company_attributes][description]": {
                    minlength: 10
                },
                "cause":{
                    required: true
                },
                "business_user[business_company_attributes][business_website]": {
                    required: true
                }
            }
        });


        //hide and show activity of view details button
        $("#sfg_about_cause_b_sign_up").hide();
        $("#sfg_view_cause_btn").click(function(){
            $("#sfg_about_cause_b_sign_up").show();
        });

        //ajax call for display cause
        $("#sfg_view_cause_btn").click(function(){
            var cause_id = $("#sfg_cause_drop_down").val();
            $.ajax({
                type: "get" ,
                url: "../causes/display_cause_business_sign_up"   ,
                data: { id :cause_id}
            }).done(function(response){
                        $('#sfg_about_cause_b_sign_up').html(response);
                    });
        });

    });


</script>
