<div class="row">

  <div class="span5 offset2" id="cause_view">
    <fieldset>
      <legend> company Details </legend>
    <%= form_tag  :method => :get, :html => { :class => 'form-horizontal form-inline' }  do  %>

<table id="show_table">

  <tr>
    <td>Name</td>
    <td> <%=  @business.business_name%> </td>
  </tr>

  <tr>
    <td>About the Company </td>
    <td><%=  @business.description  %>  </td>
  </tr>

  <tr>
    <td> Office Location </td>
    <td> <%=  @business.address %> </td>
  </tr>

  <tr>
    <td>Logo</td>
    <td> <%=  @business.business_logo %> </td>
  </tr>

  <tr>
    <td>Company Website </td>
    <td> <%=  @business.contact %> </td>
  </tr>

  <tr>
    <td>Contact_no</td>
    <!--<td><%#=  @cause.contact_no %></td>-->
  </tr>
  <% end %>
</table>
<br>
<br>
<%= link_to "ok", show_admin_dashboard_business_admins_path, :class => "btn btn-large btn-primary" %>
</fieldset>

</div>

</div>


