<h1> Select Businesses associated with causes </h1>
<%= form_tag save_business_User_path(@user), :method => :post do %>
    <ul>
      <%= @user_causes.each do |user_cause| %>
          <% user_cause.business_companies.each do |business| %>
              <li>
                <tabel>
                  <tr>
                    <td> <%= check_box_tag "business_select[]", business.id %> </td>
                    <td><%= link_to business.business_name , "#" %> </td>
                    <td><%= label_tag count_users_of_businesses(business) %> </td>
                  </tr>
                </tabel>
              </li>
          <%end %>
      <%end %>

    </ul>
    <td><%= submit_tag 'Submit Businesses' , class: "btn btn-large btn-primary" %></td>
<%end %>


