<!<%= form_tag 'save_causes', :method => :put do %>
<h1> Select Causes </h1>
<!--<%#= render '/causes/cause'%> -->
    <ul>
      <% @causes.each do |cause| %>
          <li>
            <%= check_box_tag "cause_select[]",cause.id %>

            <%= link_to image_tag(cause.logo,:size => "50x50"),cause%>
            <%= link_to cause.cause_name, cause %>
          </li>

      <%end %>

    </ul>
    <td><%= submit_tag("Submit Causes")%></td>

<%end %>
