<% provide(:title, 'User Dashboard') %>

<!--<div class="span7offset5">-->

<div class="well the-fieldset" xmlns="http://www.w3.org/1999/html">
  <div id="heading_recent_post">
    <div id="sfg_business_popup"></div>
    <legend class="the-legend"> RECENT POSTS</legend>
  </div>
  <div class="pagination">

      <%@business_company.each do |business_company|  %>
        <ol class="posts">

            <% business_company.posts.order("created_at DESC").each do |post|  %>
              <li>

                <span class="content">
                  <%= link_to image_tag(business_company.business_logo, :size => "30x50",:class=>"img")%>

                  <%= link_to business_company.business_name, show_business_user_path(:business_company => business_company), :method => :get,"data-toggle" => "modal", :remote => true %>

                  <div class="">
                    <%= link_to image_tag('http://i.stack.imgur.com/L8rHf.png', :size => "35x50" ) + "Share", share_on_facebook_user_path(@user.id,:post => post), :method => 'get', :class => 'sponsor-tag-img' %>
                  </div>
                </span>

                <% if (post.content =~ URI::DEFAULT_PARSER.regexp[:ABS_URI]).nil?  %>
                    <span class="content "><%= post.content %></span>
                <% else %>
                    <span class="content"><%=link_to post.content, post.content, :target => '_blank', :id => 'sfg_post_link'%></span>
                <% end %>

                <span class="timestamp">
                    Posted <%= time_ago_in_words(post.created_at) %> ago.
                  </span>

            </li>
            <% end %>
            </ol>
      <% end %>

    <%#= will_paginate @business_company %>
  </div>
</div>

