<h1> Select Causes </h1>
<%= form_tag save_causes_User_path(@user), :method => :post do %>
    <ul>
      <% @causes.each do |cause| %>
          <li>
            <table>
              <tr> <td> <%= check_box_tag "cause_select[]", cause.id %></td>
                <%= link_to image_tag(cause.logo,:size => "30x30"), cause %>
                <td> <%= link_to cause.cause_name, cause %> </td>
                <td> <%= label_tag count_businesses(cause) %> <td> </tr>
            </table>
          </li>
      <%end %>
    </ul>
    <td><%= submit_tag 'Submit Causes' ,  class: "btn btn-large btn-primary" %></td>
<%end %>
