<div class="row">
  <div class="code span14 offset 13"><h1>Select one cause form following list</h1></div>
</div>
 <br>
<%= form_tag save_business_user_path(@user), :method => :post,:html => { :class => "bs-docs-example form-horizontal"} do %>
    <table class="table table-hover">


      <% @user_causes.each do |user_cause| %>
          <% user_cause.business_companies.each do |business| %>
              <tr>

                <td class = "td1">
                  <div class="control-group">
                    <%= check_box_tag "business_select[]", business.id %>
                  </div>
                </td>

                <td class= "td2" >
                  <div class="control-group">
                    <%= link_to image_tag(business.logo,:class=>"img"), business%>
                  </div>
                </td>
                <td>
                  <div class="control-group">
                    <%= link_to business.business_name %>
                    <span>( <%= count_users_of_businesses(business) %> )</span>
                  </div>
                </td>

          <%end %>
      <%end %>
      <tr>
        <td></td>
        <td></td>
         <td>
        <div class="control-group">
          <%= submit_tag 'Next' , class: "btn" %>
        </div>

        </td>
      </tr>

    </table>
<%end %>









