<% provide(:title, 'User Dashboard') %>

<!--<div class="span7offset5">-->

<div class="well the-fieldset" xmlns="http://www.w3.org/1999/html">
  <div id="heading_recent_post">
    <div id="sfg_business_popup"></div>
    <legend class="the-legend"> RECENT POSTS</legend>
  </div>
  <div class="pagination">


        <ol class="posts">
          <%#= will_paginate @company_post_list %>
          <%@company_post_list.each do |company_post|  %>

              <li>

                <span class="content">
                  <%= image_tag(company_post["company"].business_logo, :size => "30x50", :alt => "Business Logo") %>

                  <%= link_to company_post["company"].business_name, show_business_user_path(:business_company => company_post["company"]), :method => :get, "data-toggle" => "modal", :remote => true %>

                  <div class="">
                    <%= link_to image_tag('assets/fb.png', :size => "35x50" ) + "Share", share_on_facebook_user_path(@user.id,:post => company_post["post"]), :method => 'get', :class => 'sponsor-tag-img' %>
                  </div>
                </span>

                <% if (company_post["post"].content =~ URI::DEFAULT_PARSER.regexp[:ABS_URI]).nil?  %>
                    <span class="content "><%= company_post["post"].content %></span>
                <% else %>
                    <span class="content"><%=link_to company_post["post"].content, company_post["post"].content, :target => '_blank', :id => 'sfg_post_link'%></span>
                <% end %>

                <span class="timestamp">
                    Posted <%= time_ago_in_words(company_post["post"].created_at) %> ago.
                  </span>

              </li>
          <% end %>
        </ol>


    <%#= will_paginate @company_post_list %>
  </div>
</div>

