<div class="row">
  <div class="span5 offset2">
    <h1> </h1>

    <%= form_for @user, :method => :get, :html => { :class => 'form-horizontal sfg_user_sign_up' }  do |f| %>

        <div class="control-group" id="customText">
          <%= f.label :name, "Name", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, :placeholder => "First Name", :class => 'custom_text'%>

            <%= f.text_field :last_name, :placeholder => "Last Name", :class => 'custom_text'%>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, "Password", :class => 'control-label'  %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text_field' %>
          </div>
        </div>


        <div class="control-group">
          <div class="controls">
            <%= link_to "ok", root_path, :class => "btn btn-large btn-primary" %>
          </div>
        </div>

    <% end %>
  </div>

</div>
