<<<<<<< HEAD
<table>
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr>
    <td><%= @user.email%></td>
    <td><%= @user.first_name%></td>
    <td><%= @user.last_name%></td>
  </tr>
</table>
=======
<% if current_user.admin? %>
    <table>
      <tr>
        <td><%= link_to 'Manage Cause' %></td>
        <td><%= link_to 'Manage Bussiness' %></td>
        <td><%= link_to 'Manage' %></td>
      <tr>
    </table>
    <table>
	<tr>
		<th>Email</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	<tr>
		<td><%= @user.email%></td>
		<td><%= @user.first_name%></td>
		<td><%= @user.last_name%></td>
	</tr>
  </table>
<% else %>
  Login as Admin
<% end %>
>>>>>>> 7a847dfc4d502ace6b28f5d4ef61b1dd09a11119
