<div class="row">
  <div class="span5 offset2">
    <h1> </h1>

    <%= form_tag  :method => :get, :html => { :class => 'form-horizontal sfg_user_sign_up' }  do %>
        <table>
          <tr>
            <td>
        <div class="control-group">
          <%= label_tag  "Name: " %>

            <span><%=  @cause.cause_name%> </span>

        </div>
          </td>  </tr>

          <td>
        <div class="control-group">
          <%= label_tag  "About the cause: " %>
          <div>
            <span><%=  @cause.description  %></span>
          </div>
        </div>
          </td>

        <div class="control-group">
          <%= label_tag "Office Location"  %>
          <span> <%=  @cause.location %> </span>
        </div>

        <div class="control-group">
          <%= label_tag "Logo"  %>

          <span><%=  @cause.logo %> </span>

        </div>


        <div class="control-group">
          <%= label_tag "Website of the Cause"  %>
          <span><%=  @cause.url %></span>
        </div>

        <div class="control-group">
          <%= label_tag  "Contact_no" %>
          <span><%=  @cause.contact_no %></span>

        </div>
        <div class="control-group">
          <div class="controls">

            <%= link_to "Back", show_admin_dashboard_admins_path, :class => "btn btn-large btn-primary" %>
          </div>
        </div>

    <% end %>

    </table>
  </div>
</div>






