<div class="row">
  <div class="span5 offset2" id="cause_view">
    <fieldset>
      <legend>Cause-Details</legend>
      <%= form_tag  :method => :get, :html => { :class => 'form-horizontal' }  do %>

          <table id="show_table">

            <tr>
              <td>Name</td>
              <td><%=  @cause.cause_name%> </td>
            </tr>

            <tr>
              <td>About the cause </td>
              <td><%=  @cause.description  %></td>
            </tr>

            <tr>
              <td>Office Location</td>
              <td><%=  @cause.location %></td>
            </tr>

            <tr>
              <td>Logo</td>
              <td><%=  image_tag(@cause.logo) %></td>
            </tr>

            <tr>
              <td>Website of the Cause </td>
              <td><%=  @cause.url %></td>
            </tr>

            <tr>
              <td>Contact_no</td>
              <td><%=  @cause.contact_no %></td>
            </tr>
      <% end %>
      </table>
      <br>
      <br>
      <%= link_to "Back", show_admin_dashboard_admins_path, :class => "btn btn-large btn-primary" ,id:"create_cause_btn" %>
    </fieldset>
  </div>

</div>