<% provide(:title, 'Create Cause') %>
<% provide(:title, 'Create Cause') %>
<div class="row">
  <div class="span5 offset2">
    <h1> Create Cause</h1>

    <%= form_tag :method => :post, :html => { :class => 'form-horizontal sfg_user_sign_up' }  do |f| %>

        <%#= render 'error_messages', :object => f.object %>

        <div class="control-group" id="customText">
          <%= label_tag :cause_name, "Name" %>
          <%= text_field_tag :description %>
        </div>

        <div class="control-group">
          <%= label_tag "About the cause" %>
          <div class="controls">
            <%= text_area_tag :description %>
          </div>
        </div>

        <div class="control-group" id="customText">
          <%= label_tag  "Office Location" %>
          <%= text_field_tag :location %>
        </div>

        <div class="control-group">
          <%= label_tag  "Upload Logo" %>
          <div class="controls">
            <%= file_field_tag :logo  %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :url, "Website of the cause"  %>
          <div class="controls">
            <%= text_field_tag :url %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :contact_no, "Contact no" %>
          <div class="controls">
            <%= text_field_tag :contact_no %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= submit_tag 'ADD', :class => "btn btn-large btn-primary" %>
          </div>
        </div>

    <% end %>
  </div>

</div>
