<div class="row">
  <div class="code span14 offset 13">
    <legend>IMPRESSION</legend>
  </div>
</div>
<div>

<div class="row">
  <table  class="table table-hover" >
    <% @cause_list.each do |cfh| %>
        <tr>
          <td class="td2">
            <div class="control-group">
              <% cause = cfh["cause"] %>
              <%= link_to image_tag(cause.logo,:class=>"img")%>
            </div>
          </td>
          <td>
            <div class="control-group">
              <%=  cause.cause_name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Donation obtained[$<%= cfh["total_fund"] %>]
              <div>
                <%= link_to "Businesses", get_businesses_admin_admins_path(:cause => cause), :method => :get,"data-toggle" => "modal", :remote => true%>
                <span> ( <%= cause.business_companies.size %> ) </span> </div>
              <div id="test">

              </div>
            </div>
          </td>
        </tr>
    <%end %>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <div class="control-group">
          <div class="controls" >

          </div>
        </div>
      </td>
    </tr>

  </table>

</div>
</div>